<!DOCTYPE html>
<html>
<head>
	
	<!-- Mobile viewport optimization -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Home screen icon  Mathias Bynens http://goo.gl/6nVq0 -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/h/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/m/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="assets/apple-touch-icon.png">
  <!-- iOS web app -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script type="text/javascript" src="nowjs/now.js"></script>
	<script type="text/javascript" src="js/paper.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	
	<link rel="stylesheet" href="css/main.css">

	<title>NOW DRAW :: Realtime Drawing with Node.js + NowJS + Paper.js</title>
</head>
<body>
	<div id="header">
		<div id="users"></div>
		<div id="toolbar">
			<span id="appTitle">NOW DRAW</span>
			<a href="#" class="button black bigrounded toggle active" data-tool="lineTool">Lines</a>
		  <a href="#" class="button black bigrounded toggle" data-tool="cloudTool">Clouds</a>
		  <a href="#" id="clearTool" class="button black bigrounded" data-tool="clearCanvas">Clear</a>
		</div>
	</div>
	
	<canvas id="draw" resize></canvas>
</body>
</html>